<!--footer start here-->
<div class="footer agileits-f">
    <div class="container">
      <div class="col-md-4 footer-grid w3-f wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
        <h4><a href="index.html">Indolence</a></h4>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
          nulla pariatur.</p>
        
        <div class="newsletter w3agile-f">
          <form action="#" method="post">
            <input type="email" name="email" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}" required="">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
      <div class="col-md-4 footer-grid agileinfo-f wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <h3>instagram posts</h3>
        <div class="footer-grid-left agile-f">
          <a href="#"><img src="assets/images/g6.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="footer-grid-left agile-f">
          <a href="#"><img src="assets/images/g5.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="footer-grid-left agile-f">
          <a href="#"><img src="assets/images/g4.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="footer-grid-left agile-f">
          <a href="#"><img src="assets/images/g3.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="footer-grid-left agile-f">
          <a href="#"><img src="assets/images/g1.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="footer-grid-left agile-f">
          <a href="#"><img src="assets/images/g2.jpg" alt=" " class="img-responsive"></a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 footer-grid wthree-f wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
        <h3>Contact Info</h3>
        <ul class="footer-address">
          <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 7th Isum Road, Sydney City, Australia. </li>
          <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
          <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +598 256 9850</li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
<!--footer end here-->
<!--copy right-->
<div class="footer-copy w3ls-c wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
    <div class="container">
      <p>© 2016 Indolence. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
  </div>
<!--/copy rights-->